/* CSS Variables */
:root {
--primary: #f5f2f0;
--secondary: rgb(233, 228, 220);
--tertiary: rgb(155, 128, 103);
--link: rgb(177, 104, 37);
--dark: #333;
--darkTransparent: rgba(33,33,33, 0.4);
--darkText: rgba(0, 0, 0, 0.87);
--light: #ffffff;
--lightTransparent: rgba(255,255,255, 0.87);
--veryTransparent: rgba(255,255,255, 0.40);
--shadow: 0 5px 15px rgba(24, 24, 24, 0.77);
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/coffee_small.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    color: var(--darkText);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    background-color: var(--lightTransparent);
}

a:visited {
    color: var(--tertiary);
}

.info-card {
    position: fixed;
    bottom: -50vh;
    left: 10vw;
    height: 50vh;
    width: 20vw;
    min-width: 300px;
    /* padding: 10px; */
    border-radius: 0px 12px 0 0;
    box-shadow: var(--shadow);
    background: var(--secondary);
    display: inline-block;
    text-overflow: ellipsis;
    box-sizing: border-box;
    /* overflow: hidden; */
    transition: bottom 700ms ease-in-out 20ms,
                opacity 700ms ease-in-out 20ms;
    opacity: .37;
    z-index: 1;
}

.pointer {
    cursor: pointer;
}

.info-top {
    position: relative;
    bottom: 40px;
    border-radius: 5px 5px 0 0;
    width: 15%;
    height: 40px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-text {
    padding: 0 0;
    margin: 0 20px 0 20px;
    text-align: left;
    border-bottom: 1px dotted var(--darkTransparent);
}

.info-text a {
    border-radius: 10px;
    transition: background-color 200ms ease-out;
}

.info-1 {
    font-weight: bold;
}

.info-2 {
    font-size: .8em;
}

.info-list {
    list-style: none;
    padding-left: 0;
}

.info-list li {
    border-radius: 10px;
    margin: 5px;
}

.shown {
    bottom: 0;
    opacity: 1;
}

.hidden {
    display: none;
}

.main-header {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    margin: auto;
    margin-top: 15vh;
    user-select: none;
    -moz-user-select: none;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: var(--light);
    margin: auto;
    padding-bottom: 20px;
    height: 20vh;
    /* font-weight: bold; */
    font-size: 3.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: opacity 1.5s ease-out 200ms;
}

.hide-text {
    opacity: 0;
}

#clock, #date {
    color: var(--lightTransparent);
    margin: auto;
    font-size: 2.8em;
    font-family: 'Courier New', Courier, monospace;
}

#date {
    color: var(--lightTransparent);
    margin: auto;
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
}

@media(max-width:916px) {
    html {
        height: 100vh; /* set viewport constraint */
        min-height: 100%; /* enforce height */
    }
    .info-card {
        left: 10vw;
        margin-left: auto;
        width: 80vw;
    }
    .info-text {
        font-size: .6em;
    }
    .main-text {
        font-size: 1.4em;
        height: 30vh;
        width: 80vw;
    }
    #date {
        font-size: 1.4em;
    }
    #clock {
        font-size: 2.4em;
    }
}