/* CSS Variables */
:root {
    --primary: #f5f2f0;
    --secondary: rgb(233, 228, 220);
    --tertiary: rgb(155, 128, 103);
    --link: rgb(177, 104, 37);
    --dark: #333;
    --darkTransparent: rgba(33,33,33, 0.4);
    --darkText: rgba(0, 0, 0, 0.87);
    --light: #ffffff;
    --lightTransparent: rgba(255,255,255, 0.87);
    --veryTransparent: rgba(255,255,255, 0.40);
    --shadow: 0 5px 15px rgba(24, 24, 24, 0.77);
}

html, body {
    margin: 0;
    padding: 0;
}

table {
    margin-top: 10px;
}

th {
    padding: 3px 5px;
    border: 1px solid #eee;
}

.mouse-pointer {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
}

select {
    display: inline;
}

#computed-power {
    font-size: 1.4rem;
    font-weight: bold;
}

.btn-row {
    padding-top: 10px;
    display: grid;
    justify-content: space-between;
    grid-template: 1fr 10fr 1fr;
    /* flex-direction: column; */
}

#chart-btn {
    grid-column: 1;
}

#addButton {
    grid-column: 12;
}
