<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/mhcalc2.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118927018-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-118927018-1');
    </script>

    <title>Damage Calc V2</title>
</head>

<body>
    <script type="text/x-template" id="custom-row-template">
        <tr class="row">
            <td><input v-model="label" placeholder="Enter Name"></td>
            <td><input v-model="power" type="number"></td>
            <td>
                <select id='weapon-chosen' v-model="type">
                    <option v-for="wep in weapons" v-bind:value="wep.value">
                        {{ wep.text }}</option>
                </select>
                <small class="badge">Multiplier: 
                    {{ mult }}
                </small>
            </td>
            <td><input v-model="affinity" type="number"></td>
            <td>
                <select v-model="sharpness" v-bind:class="selectBG" v-if="!((type === 'bow') || (type === 'lbg') || (type === 'hbg'))">
                    <option v-for="option in options" v-bind:value="option.value" v-bind:class="option.bgcolor">
                        {{ option.text }}</option>
                </select>
            </td>
            <td>
                <p class="range-field">
                    <input type="range" id="crit-boost" v-model="boost" value="0" min="0" max="3"/>
                    <small class="badge">Level: {{ boost }}</small>
                </p>
            </td>
            <td><input id="computed-power" v-model="computedPower" disabled></input></td>
            <td><i class="material-icons mouse-pointer" v-on:click="deleteRow">delete</i></td>
        </tr>
    </script>

    <!--application -->
    <div class="container" id="customRowExample">
        <table id="main-table" class="striped highlight centered z-depth-2">
            <tr class="row">
                <th>Label</th>
                <th>Attack</th>
                <th>Type</th>
                <th>Affinity</th>
                <th>Sharpness</th>
                <th>Crit Boost</th>
                <th>Computed Power</th>
                <th>Remove</th>
            </tr>
            <tr is="custom-row" v-for="item in items" v-bind:item="item"></tr>
        </table>
    </div>

    <div class="container btn-row">
        <!-- <a class="left-align waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
        <!-- Modal Trigger -->
        <button id="chart-btn" data-target="modal1" class="btn modal-trigger waves-effect waves-orange" v-on:click="getChart">Compare</button>
        <!-- <div  class="right-align"> -->
        <a id="addButton" href="#" class="btn-floating btn-small waves-effect waves-teal orange">
            <i class="material-icons mouse-pointer right-align" v-on:click="addRow">add</i>
        </a>
        <!-- </div> -->
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <canvas id="myChart" width="400" height="200"></canvas>
            <!-- <section id="app" class="section">
                <h4>{{ message }}</h4>
                    <graph-bar
                    :labels="labels"
                    :values="votes"
                    type="bar"
                >
                </graph-bar>
            </section> -->
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <canvas id="canvas"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/mhcalc2.js"></script>
</body>

</html>
