body {
	background-color: #DEE3EA;
}
tr {
	-webkit-transition: background-color 0.2s linear 0s;
	-webkit-transition: color 0.2s linear 0s;	
	
	transition: background-color 0.2s linear 0s;
	transition: color 0.2s linear 0s;

	}

tr:hover{
background-color: #337ab7;
color: #fff;
},
