body {
	background-color: #DEE3EA;
}

tr {
	-webkit-transition: background-color 0.2s linear 0s;
	-webkit-transition: color 0.2s linear 0s;	
	
	transition: background-color 0.2s linear 0s;
	transition: color 0.2s linear 0s;

	}

tr:hover, thead, .panel-heading{
background-color: #337ab7;
color: #fff;
}

#searchBar {
	-webkit-transition: position 0.2s linear 0s;

	transition: position 0.2s linear 0s;
}
