/* CSS Variables */

:root {
    --primary: rgb(245, 223, 177);
    --dark: #333;
    --light: rgb(255, 255, 255);
    --background: rgb(233, 227, 218);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --shadowdark: rgba(84, 84, 84, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: var(--background);
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
}

img {
    max-width: 100%;

}

.wrapper {
    display: grid;
    border-radius: 5px;
    grid-gap: 20px;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-auto-rows: 20vh; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        ". . a b . ."
        ". . c d . .";
}

.box {
    border-radius: 10px;
    transition-duration: 150ms;
    margin: 0 auto;
    width: 200px;
    align-self: center;
    justify-self: center;
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.box:hover {
    box-shadow: 0 2px 9px var(--shadowdark);
    
}

.box > input {
    font-size: 1.4rem;
}

.box-a {
    grid-area: a;
}

.box-b {
    grid-area: b;
}

.box-c {
    grid-area: c;
}

.box-d {
    grid-area: d;
}

.box-option {
    display: inline-block;
    vertical-align: middle;
}

.box-option-sharpness {
    padding-bottom: .8rem;
}

.box-option-sharpness select{
    font-size: 1.4rem;
    /* background: rgba(0,0,0,0.3);
    color:#FFF; */
    /* text-shadow:0 1px 0 rgba(0,0,0,0.4); */
}
select option.sharp-red {
    background: rgb(255, 100, 100);
}
select option.sharp-orange {
    background: rgb(255, 175, 90);
}
select option.sharp-yellow {
    background: rgb(255, 225, 100);
}
select option.sharp-green {
    background: rgb(60, 175, 60);
}
select option.sharp-blue {
    background: rgb(90, 90, 255);
}
select option.sharp-white {
    background: rgb(255, 255, 255);
}

h2,h1,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.material-icons.md-48 {
    font-size: 48px; 
}



/* The switch - the box around the slider */
.switch {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media(max-width:700px) {
    .material-icons.md-48 {
        display: none;
    }

    .box {
        border-radius: 10px;
        transition-duration: 150ms;
        margin: 0 auto;
        width: 200px;
        align-self: center;
        justify-self: center;
        background: transparent;
        text-align: center;
        padding: .4rem .4rem;
        box-shadow: 0 0 0 0;
    }

    .boxes {
        background-color: var(--primary);
        border-radius: 10px;
        grid-gap: 5px;
        padding: .4rem .4rem;
        box-shadow: var(--shadow);
        margin: 0 auto;
        transition-duration: 150ms;
        grid-template-columns: 1fr;
        grid-template-areas:
            'a'
            'b'
            'c'
            'd';
    }

}